.todoitem {
    background-color: #fff;
    margin: 16px 24px;
    padding: 6px 24px;
    border: 1px solid #fff;
    list-style: none;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content:space-between;
    align-items: center;
}

li.todoitem {
    margin: 8px;
    margin-left: 0px !important;
}

.TodoItem-p {
    font-weight: 550;
    font-size: 0.9em;
    line-height: 1.2;
    text-align: left;
    flex-grow: 1;
    margin-left: 10px;
    margin-right: 2px;
}

.TodoItem-p--complete {
    text-decoration: line-through;
    color: green;
}

.checkbox {
    width: 20px;
    height: 20px;
    cursor: pointer;
    border: 1px solid #ccc;
    margin-left: 5px;
    }


.check-active {
    background-color: gold;
    border-color: #778EDD;
    }

.star {
    color: #333;
    opacity: 33%;
    font-size: 1.5em;
    cursor: pointer;
    position: static;
    margin-top: -6px;
    margin-right: -12px;
    font-size: 26px;
}

.star-active {
    color: gold;
    opacity: 100%;
}
